html {
	position: relative;
}
body {
	margin-bottom: 100px;
	margin-top: 30px;

}
section {
	min-height: 500px;
}

.jumbotron {
	background-image: url('yes1.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: 0 -50px;
	overflow: hidden;
}
.navbar-header a {
	font-family: 'Permanent Marker', cursive;
}

.jumbotron h1, h4{
	font-family: 'Permanent Marker', cursive;
	color: #eaeaea;
	text-shadow: 5px 1px 20px rgba(0,0,0,0.5);
	margin: 10px;
}

.jumbotron p {
	color: #eaeaea;
	text-shadow: 5px 1px 20px rgba(0,0,0,0.5);
	text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.jumbotron {
  min-height: 750px;
  padding-top: 100px;
  background-color: black;
}

.jumbotron a {
	margin-top: 50px;
	margin-left: 5px;
	margin-right: 5px;
}
.jadwal {
	background-color: white;
	text-align: center;
}
.jadwal h3 {
	padding: 5px;
}
hr {
	width: 250px;
	border-top: 3px solid #999;
}
.video	{
	background-color: #eee;
	}


.lagu	{
	background-color: white;
}
.lokasi	{
	background-color: #eee;
	}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
}
.iframe-container > *{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background-color: #333;
	padding-top: 40px;
}
footer p {
	color: #aaa;
	font-size: 1em;
}
footer p i {
	color: salmon;
}







